 .goods{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px;
  }

.goods-item{
	width: 48%;
    padding-bottom: 40px;
    position: relative;

  }
img{
  width: 100%;
  border-radius: 5px;

}
  .goods-info{
    position: absolute;
    left:0;
    right: 0;
    bottom: 5px;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
  }
  .goods-info p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
  }
  .price{
    margin-right: 20px;
    color: var(--color-height-text);
  }
  .goods-info p{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .goods-info .collect{
  /*  position: relative; */
  margin-left: 20px;
  color: var(--color-height-text);
  }
  .star{
	  width: 12px;
	  height: 12px;
	  margin-left: 4px;
  }